<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card bg-dark mt-5">
                <div class="card-body">
                    <h2 class="card-title text-center text-white mb-4">Branches</h2>
                    <div class="d-flex justify-content-center mb-4">
                        <button routerLink="branch-post-and-get" class="btn btn-info mr-3">Get Branches</button>
                        <button routerLink="addBranch" class="btn btn-info">Add Branches</button>
                    </div>
                </div>
            </div>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
